@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Clash Display';
        src: url('/fonts/clash-display/ClashDisplay-Extralight.woff2');
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: 'Clash Display';
        src: url('/fonts/clash-display/ClashDisplay-Light.woff2');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Clash Display';
        src: url('/fonts/clash-display/ClashDisplay-Regular.woff2');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Clash Display';
        src: url('/fonts/clash-display/ClashDisplay-Medium.woff2');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Clash Display';
        src: url('/fonts/clash-display/ClashDisplay-Semibold.woff2');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'Clash Display';
        src: url('/fonts/clash-display/ClashDisplay-Bold.woff2');
        font-weight: 700;
        font-style: normal;
    }
}

body {
    font-family: 'Clash Display', 'Roboto';
    background-color: #021526;
    color: #FFFFFF;
}

#projects-swiper {
    width: calc(100% + 100px);
}

html {
    scroll-behavior: smooth;
}

header {
    background: rgb(15,34,97);
background: linear-gradient(180deg, rgba(15,34,97,1) 0%, rgba(2,21,38,1) 100%);
}

li {
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
}

.list-no-mobile li:hover {
    border-bottom-color: #FFFFFF;
}

li .active {
    padding-bottom: 5px;
    border-bottom: 3px solid #FFFFFF;
}